header {
  background-color: #1f1f1f; 
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: Arial, sans-serif;
  
}
header h1 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-left: 100px
}


nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

nav li {
  cursor: pointer;
  font-weight: 500;
}


nav li:hover {
  text-decoration: underline;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 90px  ;
}

.header-right .login {
  font-weight: bold;
  cursor: pointer;
}

.header-right button {
  /* background-color: rgb(17, 16, 16); */
  color: rgb(245, 240, 240);
  font-weight: bold;
  border: none;
  padding: 0.4rem 1.2rem;
  border-radius: 9px;
  cursor: pointer;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1f1f1f;
  z-index: 1000;
}
